body {
  color: #999;
}

.container {
  display: grid;
  transition: all ease 1s;
  grid-template-rows: 1fr;
  width: 450px;
  text-align: justify;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
}

.container.collapse {
  grid-template-rows: 0fr;
  padding: 0;
  border: none;
}
.text {
  overflow: hidden;
}
